In [64]:
import pandas as pd
import numpy as np

In [65]:
import pickle

# Define the path to the pickle file
path = "/home/hoyinchan/blue/Data/Qi_code_and_data/onset_and_baseline_dict.pkl"

# Load the dictionary from the pickle file
try:
    with open(path, 'rb') as file:
        onset_and_baseline_dict = pickle.load(file)
    
    # Display the keys of the dictionary to understand its structure
    print("Keys in the dictionary:", onset_and_baseline_dict.keys())
except FileNotFoundError:
    print(f"The file at {path} was not found. Please check the file path.")
except Exception as e:
    print(f"An error occurred while loading the file: {e}")

Keys in the dictionary: dict_keys(['KUMC', 'MCW', 'UIOWA', 'UMHC', 'UNMC', 'UTHSCSA', 'UTSW', 'UofU', 'UPITT', 'MCRI'])

In [66]:
for k in onset_and_baseline_dict.keys():
    if k != 'MCRI':
        pdata = '/blue/yonghui.wu/hoyinchan/Data/data2022/'+ k
        onset = onset_and_baseline_dict[k][0]
        onset['PATID'] = onset['PATID'].astype(str)
        onset['ENCOUNTERID'] = onset['ENCOUNTERID'].astype(str)    
        onset['AKI_STAGE'] = onset['AKI_INIT_STG']
#        onset['ONSET_SINCE_ADMIT'] = onset[['AKI1_SINCE_ADMIT', 'AKI2_SINCE_ADMIT', 'AKI3_SINCE_ADMIT']].min(axis=1)
        onset.to_parquet(pdata+'/onset00.parquet')
        print(pdata+'/onset00.parquet')

/blue/yonghui.wu/hoyinchan/Data/data2022/KUMC/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/MCW/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UIOWA/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UMHC/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UNMC/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UTHSCSA/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UTSW/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UofU/onset00.parquet
/blue/yonghui.wu/hoyinchan/Data/data2022/UPITT/onset00.parquet

In [67]:
k = 'KUMC'
pdata = '/blue/yonghui.wu/hoyinchan/Data/data2022/'+ k
onset = onset_and_baseline_dict[k][0]

In [68]:
onset[['AKI_STAGE', 'ENCOUNTERID']].groupby('AKI_STAGE').count().reset_index()

   AKI_STAGE  ENCOUNTERID
0          1        39064
1          2         7744
2          3         2288

In [54]:
onset[['AKI_STAGE', 'ENCOUNTERID']].groupby('AKI_STAGE').count().reset_index()

,PATID,ENCOUNTERID,ADMIT_DATE,DISCHARGE_DATE,ONSET_DATE,AKI1_SINCE_ADMIT,AKI2_SINCE_ADMIT,AKI3_SINCE_ADMIT,DISCHARGE_SINCE_ONSET,SCR_ONSET,SCR_BASELINE,SCR_REFERENCE,AKI1_7D,AKI1_2D,FLAG,ONSET_SINCE_ADMIT,AKI_STAGE,AKI_INIT_STG
0,42,1388827,2012-01-05,2012-01-08,2012-01-06,1,1.0,1.0,2,2.7900,0.900000,2.79,True,False,True,1,3,3
1,373,469102,2011-05-15,2011-05-17,2011-05-16,1,NaN,NaN,1,0.7900,0.470000,0.79,True,False,False,1,1,1
2,390,3595238,2019-06-01,2019-06-05,2019-06-01,0,NaN,NaN,4,2.1400,1.225000,2.14,True,False,False,0,1,1
3,484,1387750,2011-11-04,2011-11-07,2011-11-07,3,NaN,NaN,0,1.0200,0.660000,0.56,True,True,False,3,1,1
4,484,2859981,2014-01-29,2014-02-05,2014-01-29,0,NaN,NaN,7,0.7400,0.480000,0.74,True,False,False,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49091,2827828,3198121,2016-12-22,2016-12-31,2016-12-22,0,NaN,NaN,9,1.0325,0.720000,0.72,False,True,False,0,1,1
49092,2827828,6448431,2017-01-21,2017-01-30,2017-01-21,0,NaN,NaN,9,1.4600,0.934242,1.46,True,False,False,0,1,1
49093,2827881,6563252,2017-02-23,2017-02-26,2017-02-23,0,NaN,NaN,3,1.7800,1.000000,1.78,True,False,False,0,1,1
49094,2827995,5174309,2019-06-04,2019-06-15,2019-06-11,7,8.0,NaN,4,1.1400,0.680000,1.14,True,False,True,7,2,1
49095,2827995,6810879,2019-07-04,2019-07-07,2019-07-04,0,NaN,NaN,3,1.3200,0.877647,1.32,True,False,False,0,1,1