In [2]:
import importlib
from ipynb.fs.full.slackbot import ping_slack
import pandas as pd
import xgboost as xgb
import numpy as np
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
from PIL import Image
from scipy.interpolate import BSpline, make_interp_spline, interp1d
#import rpy2.robjects as robjects
#from rpy2.robjects.packages import importr
import csv
from dfply import *
from xgboost import XGBClassifier
import itertools
import os
from tqdm import tqdm
from os import listdir
from os.path import isfile, join
from os.path import exists
import logging
import time

import utils_function

In [9]:
onset_new = pd.read_parquet(datafolder+site+'/p0_onset_'+site+'.parquet')

In [5]:
site = 'KUMC'

In [6]:
basefolder = "/blue/yonghui.wu/hoyinchan/Data/Qi_code_and_data/"

onset_new = pd.read_pickle(basefolder+"onset_all_"+site+".pkl")

In [20]:
onset_new[['AKI_STAGE', 'ENCOUNTERID']].groupby('AKI_STAGE').count()

           ENCOUNTERID
AKI_STAGE
0               217995
1                32909
2                10108
3                 6079

In [8]:
xxx = pd.read_pickle(basefolder+"onset_and_baseline_dict.pkl")

In [27]:
onset_new[(onset_new['AKI_STAGE']==0)&(onset_new['AKI_INIT_STG']!=0)]

Empty DataFrame
Columns: [PATID, ENCOUNTERID, ADMIT_DATE, DISCHARGE_DATE, ONSET_DATE, AKI1_SINCE_ADMIT, AKI2_SINCE_ADMIT, AKI3_SINCE_ADMIT, DISCHARGE_SINCE_ONSET, SCR_ONSET, SCR_BASELINE, SCR_REFERENCE, AKI1_7D, AKI1_2D, FLAG, ONSET_SINCE_ADMIT, AKI_STAGE, AKI_INIT_STG]
Index: []

In [7]:
onset_new

,PATID,ENCOUNTERID,ADMIT_DATE,DISCHARGE_DATE,ONSET_DATE,AKI1_SINCE_ADMIT,AKI2_SINCE_ADMIT,AKI3_SINCE_ADMIT,DISCHARGE_SINCE_ONSET,SCR_ONSET,SCR_BASELINE,SCR_REFERENCE,AKI1_7D,AKI1_2D,FLAG,ONSET_SINCE_ADMIT,AKI_STAGE,AKI_INIT_STG
0,42,1388827,2012-01-05,2012-01-08,2012-01-06,1.0,1.0,1.0,2,2.79,0.900,2.79,True,False,True,1,3,3
1,373,469102,2011-05-15,2011-05-17,2011-05-16,1.0,NaN,NaN,1,0.79,0.470,0.79,True,False,False,1,1,1
2,390,3595238,2019-06-01,2019-06-05,2019-06-01,0.0,NaN,NaN,4,2.14,1.225,2.14,True,False,False,0,1,1
3,484,1387750,2011-11-04,2011-11-07,2011-11-07,3.0,NaN,NaN,0,1.02,0.660,0.56,True,True,False,3,1,1
4,484,2859981,2014-01-29,2014-02-05,2014-01-29,0.0,NaN,NaN,7,0.74,0.480,0.74,True,False,False,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217990,2827952,517304,2011-08-26,2011-09-02,2011-08-31,NaN,NaN,NaN,2,0.66,0.625,0.66,False,False,False,5,0,0
217991,2827993,5149208,2018-11-09,2018-11-25,2018-11-25,NaN,NaN,NaN,0,0.63,0.800,0.63,False,False,False,16,0,0
217992,2827995,6785374,2019-05-04,2019-05-07,2019-05-07,NaN,NaN,NaN,0,0.63,0.730,0.63,False,False,False,3,0,0
217993,2827995,10033738,2019-05-25,2019-05-31,2019-05-30,NaN,NaN,NaN,1,0.68,0.728,0.61,False,False,False,5,0,0
217994,2828001,8343028,2018-10-26,2018-10-30,2018-10-30,NaN,NaN,NaN,0,0.63,0.780,0.63,False,False,False,4,0,0

In [8]:
    configs_variables = utils_function.read_config(site)
    datafolder = configs_variables['datafolder']
    home_directory = configs_variables['home_directory']

In [10]:
onset_new

,PATID,ENCOUNTERID,ADMIT_DATE,DISCHARGE_DATE,ONSET_DATE,AKI1_SINCE_ADMIT,AKI2_SINCE_ADMIT,AKI3_SINCE_ADMIT,DISCHARGE_SINCE_ONSET,SCR_ONSET,SCR_BASELINE,SCR_REFERENCE,AKI1_7D,AKI1_2D,FLAG,ONSET_SINCE_ADMIT,AKI_STAGE,AKI_INIT_STG,SINCE_ADMIT
0,42,1388827,2012-01-05,2012-01-08,2012-01-06,1.0,1.0,1.0,2,2.79,0.900,2.79,True,False,True,1,3,3,1
1,373,469102,2011-05-15,2011-05-17,2011-05-16,1.0,NaN,NaN,1,0.79,0.470,0.79,True,False,False,1,1,1,1
2,390,3595238,2019-06-01,2019-06-05,2019-06-01,0.0,NaN,NaN,4,2.14,1.225,2.14,True,False,False,0,1,1,0
3,484,1387750,2011-11-04,2011-11-07,2011-11-07,3.0,NaN,NaN,0,1.02,0.660,0.56,True,True,False,3,1,1,3
4,484,2859981,2014-01-29,2014-02-05,2014-01-29,0.0,NaN,NaN,7,0.74,0.480,0.74,True,False,False,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217990,2827952,517304,2011-08-26,2011-09-02,2011-08-31,NaN,NaN,NaN,2,0.66,0.625,0.66,False,False,False,5,0,0,5
217991,2827993,5149208,2018-11-09,2018-11-25,2018-11-25,NaN,NaN,NaN,0,0.63,0.800,0.63,False,False,False,16,0,0,16
217992,2827995,6785374,2019-05-04,2019-05-07,2019-05-07,NaN,NaN,NaN,0,0.63,0.730,0.63,False,False,False,3,0,0,3
217993,2827995,10033738,2019-05-25,2019-05-31,2019-05-30,NaN,NaN,NaN,1,0.68,0.728,0.61,False,False,False,5,0,0,5
217994,2828001,8343028,2018-10-26,2018-10-30,2018-10-30,NaN,NaN,NaN,0,0.63,0.780,0.63,False,False,False,4,0,0,4

In [11]:
31-26

5